body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  color: #585858;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
}

/* Variables */
.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
  margin-top: 50px;
}

button {
  transition: all .5s;
}

a {
  transition: all .5s;
}

.btn--hover:hover {
  background: linear-gradient(90deg, #e36f1c 0%, #e11414 100%);
  transition: all .5s;
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
}

.header__inner {
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar */
.navbar {
  height: 100%;
  display: flex;
}

.navbar__link {
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
}

.navbar__link.active {
  background-color: #004AF2;
}

/* Burger */
.burger {
  display: none;
}

/* Intro */
.intro {
  margin-bottom: 30px;
  height: 630px;
  background-image: url("../img/logistic-intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro__inner {
  height: 630px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.intro__text {
  margin-bottom: 45px;
  text-align: right;
}

.intro__count {
  font-size: 15px;
  line-height: 21px;
  color: #fff;
}

.intro__title {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 110px;
  line-height: 100px;
}

.intro__title-amp {
  position: absolute;
  font-size: 170px;
  color: rgba(255, 255, 255, 0.2);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Request form */
.request__form {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  background-color: #004AF2;
}

.request__form-header {
  background-color: #033FC9;
  padding: 20px 30px;
}

.request__form-title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  font-family: "Lato", sans-serif;
}

.request__form-text {
  padding-top: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
}

.request__form-content {
  padding: 30px;
}

/* Form */
.form__group {
  margin-bottom: 25px;
}

.request__form--intro {
  position: relative;
  bottom: -30px;
}

.input {
  display: block;
  width: 85%;
  color: #fff;
  background-color: transparent;
  border: none;
  padding-bottom: 12px;
  padding-left: 47px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  transition: border-bottom .5s;
}

.input:focus {
  outline: none;
  border-bottom-color: #fff;
}

.input::placeholder {
  color: #fff;
}

.input--user {
  background-image: url("../img/logistic-user.svg");
  background-repeat: no-repeat;
  background-position: 13px 1px;
}

.input--phone {
  background-image: url("../img/logistic-phone.svg");
  background-repeat: no-repeat;
  background-position: 13px 1px;
}

.input--email {
  background-image: url("../img/logistic-email.svg");
  background-repeat: no-repeat;
  background-position: 13px 4px;
}

/* Btn */
.btn {
  background: linear-gradient(90deg, #FF903E 0%, #FF2C2C 100%);
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 11px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

/* Services */
.services {
  padding: 60px 0;
}

.services__inner {
  position: relative;
  border-radius: 5px;
  padding: 28px 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.services__main-title {
  position: absolute;
  font-weight: 900;
  right: 20px;
  bottom: 0;
  pointer-events: none;
  color: rgba(44, 44, 44, 0.05);
  font-size: 90px;
  line-height: 90px;
  font-family: "Lato", sans-serif;
}

.services__item {
  display: flex;
  flex-direction: column;
  width: 16%;
  margin: 0 50px;
  margin-bottom: 35px;
}

.services__footer {
  margin-top: auto;
}

.services__title {
  color: #2C2C2C;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  font-family: "Lato", sans-serif;
}

.services__text {
  margin: 20px 0;
  font-size: 15px;
  color: #585858;
  line-height: 21px;
}

.services__link {
  display: inline-block;
  color: #004AF2;
  transition: all .5s;
}

.services__link::after {
  content: '';
  display: block;
  width: 10px;
  height: 2px;
  margin-top: 10px;
  background-color: #004AF2;
  transition: all .5s;
}

.services__link:hover {
  color: #FF3E2F;
}

.services__link:hover:after {
  width: 100%;
  background-color: #FF3E2F;
}

/* Section */
.section__title {
  z-index: 10;
  margin-bottom: 45px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 45px;
  line-height: 54px;
  color: #2C2C2C;
}

.section__title span {
  color: #004AF2;
}

/* Clients */
.clients {
  position: relative;
}

.clients::before {
  content: url("../img/map.png");
  position: absolute;
  top: 90px;
  z-index: 1;
  opacity: 0.15;
  pointer-events: none;
}

.clients__inner {
  display: flex;
}

.clients__logos {
  z-index: 10;
  width: 60%;
}

.clients__reviews {
  width: 40%;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 90px;
}

.clients__list-item {
  margin-right: 50px;
  margin-bottom: 45px;
}

.clients--btn {
  display: inline;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  padding: 11px 45px;
}

.clients__btns {
  margin-top: 20px;
}

.clients__love {
  position: relative;
  margin-left: 40px;
  font-size: 18px;
  line-height: 23px;
}

.clients__love::before {
  content: url("../img/heart.svg");
  position: absolute;
  top: -7px;
  left: 18px;
}

/* Reviews */
.reviews__header {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.reviews__info {
  margin-left: 20px;
}

.reviews__info-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  color: #2C2C2C;
}

.reviews__info-company {
  color: #2C2C2C;
  margin-top: 3px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  font-family: "Lato", sans-serif;
}

.reviews__content-text {
  color: #585858;
  font-size: 15px;
  line-height: 27px;
  font-family: "Lato", sans-serif;
}

.reviews__content-text:first-child {
  text-indent: 20px;
}

/* Benefits */
.benefits {
  margin-top: 135px;
  margin-bottom: 70px;
}

.benefits__inner {
  display: flex;
  align-items: center;
}

.benefits__col {
  width: 50%;
}

.benefits__list {
  position: relative;
  padding-left: 52px;
  background-image: linear-gradient(to bottom, #fff 65%, #A5A5A5 60%);
  background-repeat: repeat-y;
  background-size: 2px 48px;
  background-position: left;
  width: 100%;
  max-width: 370px;
}

.benefits__list::before {
  content: '';
  position: absolute;
  background-image: url("../img/pin-start.svg");
  background-repeat: no-repeat;
  width: 28px;
  height: 36px;
  left: -11px;
  top: -22px;
}

.benefits__list::after {
  content: '';
  position: absolute;
  background-image: url("../img/pin-end.svg");
  background-repeat: no-repeat;
  width: 28px;
  height: 36px;
  left: -11px;
  bottom: -10px;
  background-color: #fff;
}

.benefits__list-item:not(:last-child) {
  margin-bottom: 35px;
}

.benefits__list-title {
  margin-bottom: 12px;
  font-weight: 900;
  font-size: 21px;
  line-height: 25px;
  font-family: "Lato", sans-serif;
  color: #2C2C2C;
}

.benefits__list-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

/* Team */
.team {
  padding: 60px 0;
}

.team--gray {
  background-color: #F9F9F9;
}

.team__img {
  box-shadow: 10px 5px 13px rgba(0, 0, 0, 0.16);
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
}

.team__inner-item {
  margin-bottom: 30px;
  padding-right: 30px;
  width: 370px;
}

.team__inner-name {
  margin-top: 13px;
  color: #2C2C2C;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  font-family: "Lato", sans-serif;
}

.team__inner-info {
  margin-top: 5px;
  font-size: 15px;
  line-height: 19px;
  color: #585858;
}

.team__inner-list {
  margin-top: 13px;
}

.team__inner-list-item {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.team__icon {
  margin-right: 10px;
  width: 16px;
}

/* Mission */
.mission {
  padding: 135px 0 120px 0;
}

.mission__inner {
  position: relative;
  text-align: center;
  padding: 60px 35px;
  background-color: #fff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}

.mission__inner::before {
  content: '';
  position: absolute;
  display: block;
  width: 500px;
  height: 2px;
  background-color: #004AF2;
  bottom: 0;
  right: 50%;
}

.mission__inner::after {
  content: '';
  position: absolute;
  display: block;
  width: 500px;
  height: 2px;
  background-color: #FC2C2B;
  bottom: 0;
  left: 50%;
}

.mission__inner-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  font-family: "Lato", sans-serif;
  color: #004AF2;
}

.mission__inner-text {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  font-family: "Lato", sans-serif;
}

.mission-title {
  position: absolute;
  font-style: normal;
  font-weight: 900;
  font-size: 90px;
  line-height: 108px;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-top: -75px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
}

/* News */
.news__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.news__inner-item {
  margin-bottom: 35px;
  width: 510px;
}

.news__inner-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #2C2C2C;
}

.news__inner-title a {
  color: inherit;
}

.news__inner-title a:hover {
  text-decoration: underline;
}

.news__inner-text {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

.news__inner-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
}

.news__btn {
  display: inline-block;
  margin-top: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  padding: 11px 43px;
  color: #fff;
  background: linear-gradient(90deg, #FF903E 0%, #FF2C2C 100%);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Footer */
.footer {
  background-image: url("../img/tire-left.png"), url("../img/tire-right.png");
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
  margin-top: 120px;
  background-color: #F9F9F9;
  padding: 40px 0;
}

.footer__inner {
  text-align: center;
}

.footer__inner-info {
  margin-top: 25px;
}

.footer__inner-info p {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #585858;
}

.footer__inner-info a {
  color: #585858;
}

.footer__inner-info a:hover {
  text-decoration: underline;
}

.footer__nav {
  margin-top: 25px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.footer__nav-link {
  margin: 0 12px;
  color: #004AF2;
}

/* Modal */
.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2000;
}

.modal__inner {
  position: relative;
  width: 333px;
  padding: 25px;
  background-color: #fff;
}

.modal__inner-header {
  margin-bottom: 30px;
  text-align: center;
}

.modal__inner-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 27px;
  font-family: "Lato", sans-serif;
  color: #004AF2;
}

.modal__inner-text {
  margin-top: 5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
}

.modal__footer {
  text-align: center;
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #E8E8E8;
}

.modal__footer-title {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;
  font-family: "Lato", sans-serif;
  color: #2C2C2C;
}

.modal__footer-address {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  font-style: normal;
}

.modal__footer-address a {
  color: inherit;
}

.modal__footer-address a:hover {
  text-decoration: underline;
}

.modal__close {
  position: absolute;
  right: -40px;
  top: -25px;
  border: none;
  background: none;
  cursor: pointer;
  transition: all .5s;
}

.modal__close:hover {
  transform: rotate(90deg);
}

.show {
  display: flex;
}

.input--dark {
  border-bottom-color: #E8E8E8;
}

.input--dark:focus {
  border-bottom-color: #000;
}

.input--dark::placeholder {
  color: #2C2C2C;
}

.input--dark.input--user {
  background-image: url("../img/user-black.svg");
}

.input--dark.input--email {
  background-image: url("../img/mail-black.svg");
}

.input--dark.input--phone {
  background-image: url("../img/phone-black.svg");
}

.intro--blog {
  height: 350px;
  background-image: url("../img/news-intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Main */
.main {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.main--inner {
  flex-direction: column;
}

/* Media */
@media (max-width: 1000px) {
  .clients__inner {
    flex-wrap: wrap;
  }
  .clients__logos {
    width: 100%;
  }
  .clients__reviews {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .services__item {
    width: 37%;
  }
  .services__main-title {
    font-size: 55px;
  }
  .benefits {
    max-width: 600px;
    margin: 0 auto;
  }
  .benefits__inner {
    margin-top: 150px;
    flex-direction: column;
  }
  .benefits__col {
    width: 100%;
  }
  .benefits__list {
    margin-bottom: 50px;
  }
}

@media (max-width: 797px) {
  .services__item {
    width: 100%;
  }
  .services__main-title {
    font-size: 55px;
  }
}

@media (max-width: 767px) {
  .section__title {
    text-align: center;
  }
  .header {
    background-color: #000000;
  }
  .header__inner {
    position: relative;
    height: 50px;
  }
  .navbar {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100%;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.85);
  }
  .navbar__link {
    display: block;
    padding: 15px;
  }
  .burger {
    display: block;
    background: none;
    cursor: pointer;
    border: none;
  }
  .intro {
    height: 765px;
  }
  .intro__inner {
    height: 765px;
    flex-direction: column;
    align-items: center;
  }
  .intro__title {
    margin-top: 100px;
    order: 1;
  }
  .intro__title-amp {
    right: 0;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .request__form {
    order: 2;
  }
  .team__inner {
    flex-direction: column;
    align-items: center;
  }
  .team__inner-col {
    width: 320px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .clients__list {
    width: 600px;
    padding: 15px;
  }
  .clients__btns {
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .clients__list {
    width: 573px;
  }
}

@media (max-width: 410px) {
  .intro__title {
    font-size: 80px;
  }
  .intro__title-amp {
    font-size: 120px;
  }
  .clients__btns {
    margin-top: 50px;
  }
  .clients__love {
    font-size: 12px;
    margin-left: 10px;
  }
}
/*# sourceMappingURL=style.css.map */