body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  color: #585858;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
}

/* Variables */
/* Header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
}

.header__inner {
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar */
.navbar {
  height: 100%;
  display: flex;
}

.navbar__link {
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
}

.navbar__link.active {
  background-color: #004AF2;
}

/* Intro */
.intro {
  margin-bottom: 30px;
  height: 630px;
  background-image: url("../img/logistic-intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro__inner {
  height: 630px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.intro__text {
  margin-bottom: 45px;
  text-align: right;
}

.intro__count {
  font-size: 15px;
  line-height: 21px;
  color: #fff;
}

.intro__title {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 110px;
  line-height: 100px;
}

.intro__title-amp {
  position: absolute;
  font-size: 170px;
  color: rgba(255, 255, 255, 0.2);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Request form */
.request__form {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  background-color: #004AF2;
}

.request__form-header {
  background-color: #033FC9;
  padding: 20px 30px;
}

.request__form-title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  font-family: "Lato", sans-serif;
}

.request__form-text {
  padding-top: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
}

.request__form-content {
  padding: 30px;
}

/* Form */
.form__group {
  margin-bottom: 25px;
}

.request__form--intro {
  position: relative;
  bottom: -30px;
}

.input {
  display: block;
  width: 85%;
  color: #fff;
  background-color: transparent;
  border: none;
  padding-bottom: 12px;
  padding-left: 47px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  transition: border-bottom .5s;
}

.input:focus {
  outline: none;
  border-bottom-color: #fff;
}

.input::placeholder {
  color: #fff;
}

.input--user {
  background-image: url("../img/logistic-user.svg");
  background-repeat: no-repeat;
  background-position: 13px 1px;
}

.input--phone {
  background-image: url("../img/logistic-phone.svg");
  background-repeat: no-repeat;
  background-position: 13px 1px;
}

.input--email {
  background-image: url("../img/logistic-email.svg");
  background-repeat: no-repeat;
  background-position: 13px 4px;
}

/* Btn */
.btn {
  background: linear-gradient(90deg, #FF903E 0%, #FF2C2C 100%);
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 11px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

/* Services */
.services {
  padding: 60px 0;
}

.services__inner {
  position: relative;
  border-radius: 5px;
  padding: 28px 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.services__main-title {
  position: absolute;
  font-weight: 900;
  right: 20px;
  bottom: 0;
  pointer-events: none;
  color: rgba(44, 44, 44, 0.05);
  font-size: 90px;
  line-height: 90px;
  font-family: "Lato", sans-serif;
}

.services__item {
  display: flex;
  flex-direction: column;
  width: 16%;
  margin: 0 50px;
  margin-bottom: 35px;
}

.services__footer {
  margin-top: auto;
}

.services__title {
  color: #2C2C2C;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  font-family: "Lato", sans-serif;
}

.services__text {
  margin: 20px 0;
  font-size: 15px;
  color: #585858;
  line-height: 21px;
}

.services__link {
  display: inline-block;
  color: #004AF2;
  transition: all .5s;
}

.services__link::after {
  content: '';
  display: block;
  width: 10px;
  height: 2px;
  margin-top: 10px;
  background-color: #004AF2;
  transition: all .5s;
}

.services__link:hover {
  color: #FF3E2F;
}

.services__link:hover:after {
  width: 100%;
  background-color: #FF3E2F;
}

/* Section */
.section__title {
  z-index: 10;
  margin-bottom: 45px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 45px;
  line-height: 54px;
  color: #2C2C2C;
}

.section__title span {
  color: #004AF2;
}

/* Clients */
.clients {
  position: relative;
}

.clients::before {
  content: url("../img/map.png");
  position: absolute;
  top: 90px;
  z-index: 1;
  opacity: 0.15;
  pointer-events: none;
}

.clients__inner {
  display: flex;
}

.clients__logos {
  z-index: 10;
  width: 60%;
}

.clients__reviews {
  width: 40%;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 90px;
}

.clients__list-item {
  margin-right: 50px;
  margin-bottom: 45px;
}

.clients--btn {
  display: inline;
  padding: 11px 45px;
}

.clients__btns {
  margin-top: 20px;
}

.clients__love {
  position: relative;
  margin-left: 40px;
  font-size: 18px;
  line-height: 23px;
}

.clients__love::before {
  content: url("../img/heart.svg");
  position: absolute;
  top: -7px;
  left: 18px;
}

/* Reviews */
.reviews__header {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.reviews__info {
  margin-left: 20px;
}

.reviews__info-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  color: #2C2C2C;
}

.reviews__info-company {
  color: #2C2C2C;
  margin-top: 3px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  font-family: "Lato", sans-serif;
}

.reviews__content-text {
  color: #585858;
  font-size: 15px;
  line-height: 27px;
  font-family: "Lato", sans-serif;
}

.reviews__content-text:first-child {
  text-indent: 20px;
}
/*# sourceMappingURL=style.css.map */